.carouselca-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 350px;
    overflow: hidden;
}

.all-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: fadeIn 6s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.face {
    animation: bringCloser 30s ease-in-out;
    animation-fill-mode: both;

}

@keyframes bringCloser {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2.5);
    }
}
