.vidCardText {
    white-space: nowrap;
    /* Запрещаем перенос строк */
    overflow: hidden;
    padding-right: 0;
    /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
}

.imageCard {
    height: 15em;
}

/* .parent video {
    display: block;
    width: 100%;
} */