.blue-text {
    color: rgb(59, 59, 255);
}

.red-text {
    color: red;
}

.active-tab {
  color: #dd3f00;
  text-decoration: underline;
  /* Смещаем подчёркивание на 20 пикселей вниз */
  text-underline-offset: 0.9em;
}