.cut-text {
    white-space: nowrap;
    /* Запрещаем перенос строк */
    overflow: hidden;
    /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
    /* Добавляем многоточие */
}

.duration-text {
    float: right;
}

.parent video {
    display: block;
    width: 100%;
}

.parent div {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 8px 0;
    background: rgba(0, 0, 0, 0.6);
}

.parent span {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    color: #7e7e7e;
    padding: 0.7em 0.3em;
    background: rgba(0, 0, 0, 0);
}

.preview {
    height: 13em;
    overflow: hidden;
    object-fit:cover; 
}

.public-video-text {
    filter: drop-shadow(0 0 20px #ff5e00);
}