.active-tab {
    color: #dd3f00;
    text-decoration: underline;
    /* Смещаем подчёркивание на 20 пикселей вниз */
    text-underline-offset: 0.9em;
}

.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.navbar {
    animation-duration: 3s;
    animation-name: slidein ;
    animation-fill-mode: both
}

@keyframes slidein {
    from {
        filter: drop-shadow(0 0 20px #696969);
    }

    to {
        filter: drop-shadow(0 0 20px #000000);
    }
  }

  