.active-tab {
    color: #dd3f00;
    text-decoration: underline;
    /* Смещаем подчёркивание на 20 пикселей вниз */
    text-underline-offset: 0.9em;
}

.navbar {
    height: 70px !important; /*i assume your navbar size 100px*/
}

.navbar {
    animation-duration: 3s;
    animation-name: slidein ;
    animation-fill-mode: both
}

@keyframes slidein {
    from {
        filter: drop-shadow(0 0 20px #696969);
    }

    to {
        filter: drop-shadow(0 0 20px #000000);
    }
  }

  